<br>
<div class="content" role="main">
    <table class="table table-active table-hover table-bordered table-striped" border="1">
        <caption>Departments</caption>
        <thead class="thead-dark">
            <tr>
                <th>DEPARTMENT NUMBER</th>
                <th>DEPARTMENT NAME</th>
                <th>LOCATION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dept of departments">
                <td>{{dept.deptno}}</td>
                <td>{{dept.deptname}}</td> 
                <td>{{dept.location}}</td>

            </tr>
        </tbody>
    </table>
    <!-- <h4><a routerLink="/" class="badge badge-pill badge-danger">Logout</a></h4> -->
</div>